{% extends 'base.html' %}

{% block content %}

        <div class="kt-portlet">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											Post Your Blog {{usr}}
										</h3>
                                        <!--<h3>{{m}}</h3>-->
									</div>
								</div>

								<!--begin::Form-->
								<form action="{% url 'post_blog' %}" method="POST" class="kt-form kt-form--fit kt-form--label-right">
									<div class="kt-portlet__body">
										<div class="form-group row">
											<label class="col-form-label col-lg-3 col-sm-12">Content</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
												<textarea name="content" class="form-control" data-provide="markdown" rows="10"></textarea>
											</div>
										</div>

									</div>
									<div class="kt-portlet__foot kt-portlet__foot--fit">
										<div class=" ">
											<div class="row">
												<div class="col-lg-9 ml-lg-auto">
													<button type="submit" class="btn btn-brand">Submit</button>
													<button type="submit" class="btn btn-secondary">Cancel</button>
												</div>
											</div>
										</div>
									</div>
								</form>

								<!--end::Form-->
							</div>



{% endblock %}