{% extends 'base.html' %}

{% block content %}

                                    <div class="col-xl-4">
                                        <div class="kt-portlet__body">

											<!--begin::Widget 7-->
											<div class="kt-widget7 kt-widget7--skin-light">
												<div class="kt-widget7__desc">
													Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
												</div>
												<div class="kt-widget7__content">
													<div class="kt-widget7__userpic">
														<img src="../assets/media//users/100_4.jpg" alt="">
													</div>
													<div class="kt-widget7__info">
														<h3 class="kt-widget7__username">
															Nick Mana
														</h3>
														<span class="kt-widget7__time">
															6 hours ago
														</span>
													</div>
												</div>
												<div class="kt-widget7__button">
													<a class="btn btn-success" href="#" role="button">All Feeds</a>
												</div>
											</div>

											<!--end::Widget 7-->
										</div>
									</div>

									<!--end:: Widgets/Announcements 1-->
								</div>
								<div class="col-xl-4">

									<!--begin:: Widgets/Company Summary-->
									<div class="kt-portlet kt-portlet--height-fluid">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Company Summary
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<a href="#" class="btn btn-label-brand btn-sm  btn-bold dropdown-toggle" data-toggle="dropdown">
													Export
												</a>
												<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
													<ul class="kt-nav">
														<li class="kt-nav__section kt-nav__section--first">
															<span class="kt-nav__section-text">Finance</span>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-graph-1"></i>
																<span class="kt-nav__link-text">Statistics</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-calendar-4"></i>
																<span class="kt-nav__link-text">Events</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-layers-1"></i>
																<span class="kt-nav__link-text">Reports</span>
															</a>
														</li>
														<li class="kt-nav__section kt-nav__section--first">
															<span class="kt-nav__section-text">HR</span>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-calendar-4"></i>
																<span class="kt-nav__link-text">Notifications</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-file-1"></i>
																<span class="kt-nav__link-text">Files</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-widget13">
												<div class="kt-widget13__item">
													<span class="kt-widget13__desc">
														Company Name
													</span>
													<span class="kt-widget13__text kt-widget13__text--bold">
														Loop Inc.
													</span>
												</div>
												<div class="kt-widget13__item">
													<span class="kt-widget13__desc kt-align-right">
														Annual Revenue:
													</span>
													<span class="kt-widget13__text kt-widget13__text--bold">
														$520,000
													</span>
												</div>
												<div class="kt-widget13__item">
													<span class="kt-widget13__desc">
														Business Description:
													</span>
													<span class="kt-widget13__text">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry.
													</span>
												</div>
												<div class="kt-widget13__item">
													<span class="kt-widget13__desc">
														Employee Amount:
													</span>
													<span class="kt-widget13__text kt-widget13__text--bold">
														1,300
													</span>
												</div>
												<div class="kt-widget13__item">
													<span class="kt-widget13__desc">
														Emal:
													</span>
													<span class="kt-widget13__text">
														supporet@keenthemes.com
													</span>
												</div>
												<div class="kt-widget13__item">
													<span class="kt-widget13__desc">
														Phone:
													</span>
													<span class="kt-widget13__text  kt-font-brand kt-widget13__text--bold">
														(0) 123 456 78 90
													</span>
												</div>
											</div>
										</div>
									</div>

									<!--end:: Widgets/Company Summary-->
								</div>
							</div>

{% endblock %}